/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/Logs/
/UnityPackageManager/
/Packages/
/Builds/
/Debug/
/.vs/
/.vscode/
/*.csproj
/*.sln
/*.png
/*.jpg
/*.log
*.rar
*.zip
*.apk
*.aab
*.7z
*.meta
/Assets/PlayServicesResolver/
/Assets/PSV/
/Assets/Plugins/Android/CAS/
/Assets/Plugins/Android/libs/
/ProjectSettings/

